{% include 'header.html' %}
{% include 'navbar.html' %}

<main class="container">

  <form method="POST" action="/vehicles/addvehicle/save" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="vendor" class="form-label">Vendor:</label>
      <input type="text" name="vendor" id="vendor" class="form-control" required>
      <div class="invalid-feedback">
        Please provide a valid vendor name.
      </div>
    </div>
  
    <div class="mb-3">
      <label for="model" class="form-label">Model:</label>
      <input type="text" name="model" id="model" class="form-control" required>
      <div class="invalid-feedback">
        Please provide a valid model name.
      </div>
    </div>
  
    <div class="mb-3">
      <label for="type" class="form-label">Type:</label>
      <select name="type" id="type" class="form-select" required>
        <option value="" selected disabled hidden>Select vehicle chassis type</option>

        {% for value, name in types %}
            <option value="{{name}}">{{value}}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please select a vehicle chassis type.
      </div>
    </div>
  
    <div class="mb-3">
      <label for="capacity" class="form-label">Capacity:</label>
      <input type="number" name="capacity" id="capacity" class="form-control" min="2" required>
      <div class="invalid-feedback">
        Please provide a valid capacity (minimum 2).
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</main>

{% include 'footer.html' %}
